.DS_Store
__pycache__
*.ipynb
*.icloud
/GEOROC_minerals/
/backup/
/working/
/Validation_Data/LEPR_Penny/
/Validation_Data/GEOROC_validationdata.csv
/Training_Data/Mineral/
/MIN_ML_Cluster/t
/parametermatrix_autoencoder/features/