.DS_Store
__pycache__
*.icloud
style.mplstyle
/!ignore/
/docs/examples/prediction_results.xlsx
/Data_Clean_Visualize/TrainingData_Cleanup.ipynb
/Data_Clean_Visualize/mineral_generator_backups.py
/Data_Clean_Visualize/synth_figs/
/GEOROC_minerals/
/Validation_Data/LEPR_Penny/
/Validation_Data/GEOROC_validationdata.csv
/texfigs/
/Training_Data/
/Training_Data/mindf_old/
/TrainingData/min_df_v2.csv
/TrainingData/min_df_v2_clean_natural.csv
/TrainingData/min_df_v2_clean_synth.csv
/TrainingData/min_df_v2_merge_natural.csv
/TrainingData/min_df_v2_merge_synth.csv
/Validation_Data/
/Hematite_Data/
/mineralML_Cluster/
/src/mineralML/old/
/src/mineralML/ignore
Cascades_in_prep.ipynb
Train_CovMatch.ipynb
Validate_AE.ipynb
Train_CovMatch.py
Train_LinearModels.py
Validate_AE.py
.ipynb_checkpoints
/ignore/
/parametermatrix_autoencoder/
/parametermatrix_neuralnetwork/
/Maps/
Data_Plot/mindf_256_64_16_density.pdf
unsupervised.py
EBSD_v_EDS.py
EDS_Maps_and_Errors.py
Torres_Orozco.xlsx
Train_test_output_for_Sarah.xlsx
/oxide_minerals/
