.DS_Store
__pycache__
*.icloud
/backup/
/working/
/Data_Clean_Visualize/TrainingData_Cleanup.ipynb
/Data_Clean_Visualize/mineral_generator_backups.py
/GEOROC_minerals/
/Validation_Data/LEPR_Penny/
/Validation_Data/GEOROC_validationdata.csv
/Training_Data/Mineral/
/Training_Data/mindf_old/
/mineralML_Cluster/
Cascades_in_prep.ipynb
Train_CovMatch.ipynb
Validate_AE.ipynb
Train_CovMatch.py
Train_LinearModels.py
Validate_AE.py
.ipynb_checkpoints
/ignore/
/parametermatrix_autoencoder/
/parametermatrix_neuralnetwork/
/T8_quant/
/T8_quant2/
Data_Plot/mindf_256_64_16_density.pdf
